body{
    margin: auto;
    margin-top: auto;} 
   
    /* 
    Cor-do-texto-color: #026773;
    DESTAQUE-color: #012E40;
    Pagina--color: #F2E3D5;
    */

html{
    background-color: #F2E3D5;
    color:#026773 ;
    font-size: 20px;
    font-family: Arial, sans-serif;}

.page-wrapper{
    width: 80%;
    max-width: 1280px;
    margin: auto;
}

.page-wrapper{
    position: relative;
}

.explanation{
    width: 60%;
    border-right: #1f295c solid 1px;
    padding-right: 2%;
}

#design-selection{
    position: absolute;
    top: 560px;
    left: 62%;
}

#zen-intro{ height: 550px;}

#design-archives{display: none;}

#zen-intro header{
    background-color: #026773;
    color:#F2E3D5 ;
}

#zen-intro header h1, #zen-intro header h2{display: inline-block;} 

#zen-intro header h1{
    margin-left: 1em;
    margin-right: 1em;
}

p{ text-indent: 1em; }

h1,h2,h3{ text-align: center; }

h1{font-size: 1.8rem;}

h2{font-size: 1.4rem;}

h3{font-size: 1.2rem;}

.summary{text-align: right;}
.main p {line-height: 1.5;}

abbr {font-variant: small-caps;}

aside ul{
    list-style-type: none;
}
aside ul li {
    margin: 1em;
    text-align: center;
}
.main footer{
    margin: 4%;  
}
.main footer a{
    border: solid 2px;
    padding: 0.5em;
    display: inline;
}