  
    /* 
    Cor-do-texto-color: #026773;
    DESTAQUE-color: #012E40;
    Pagina--color: #F2E3D5;
    */

html{
    background-color: #F2E3D5;
    color:#026773 ;
    font-size: 20px;
    font-family: Arial, sans-serif;}

.page-wrapper{
    width: 80%;
    max-width: 1280px;
    margin: auto;
}

.page-wrapper{
    position:relative;
}

.explanation{
    width: 60%;
    border-right: #1f295c solid 1px;
    padding-right: 2%;
}

#design-selection{
    position: absolute;
    top: 510px;
    left: 62%;
    width: 34% ;
    padding: 0 2%;
}

#zen-intro{ height: 550px;}

#design-archives{display: none;}

#zen-intro header{
    background-color: #026773;
    color:#F2E3D5 ;
}

#zen-intro header h1, #zen-intro header h2{display: inline-block;} 

#zen-intro header h1{
    margin-left: 1em;
    margin-right: 1em;
}

p{ text-indent: 1em; }

h1,h2,h3{ text-align: center; }

h1{font-size: 1.8rem;}

h2{font-size: 1.4rem;}

h3{font-size: 1.2rem;}

.summary{text-align: right;}
.main p {line-height: 1.5;}

abbr {font-variant: small-caps;}

aside ul{
    list-style-type: none;
}
aside ul li {
    margin: 1em;
    text-align: center;
}
.main footer{
    margin: 4%;  
}
.main footer a{
    border: solid 2px;
    padding: 0.5em;
    display: inline;
}
.supporting footer {
    display: flex;
    justify-content: space-evenly;
}
.benefits{
    display: flex;
    border-top: #026773 solid 1px;
    border-bottom: #026773 solid 1px;
}
.benefits h3{
    order:2;
    align-self: center;
    flex-basis: 30%;
}
.benefits p{
    flex-basis: 70%;
}
.participation{
    display: flex;
    flex-wrap: wrap;
    border-top: #026773 solid 1px;
}
.participation h3, .participation p {
flex-basis: 50%;
}
.participation h3 {
   align-self: center;
}
a {
    color: #012E40;
}
a:hover {
    color: #012e4054;
}
.main p:first-of-type::first-letter {
    font-size: 3em;
    font-family:'Times New Roman' serif;
    float: left;
}
.design-selection li{
    border-top: #012E40 solid 1px;
    padding-top: 5px ;
}
.design-selection li:last-of-type{
    border-bottom: #012E40 solid 1px;
    padding-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .design-selection {
        position: static;
        width: 100%;
    }
    .explanation{
        border-right: none;
        width: 100%;
    }
    #zen-intro{
        height: auto;
    }
    .participation{
        flex-direction: column;
    }
    p{
        text-indent: 0;
    }
}
  
@media print {
    html{
        font-family: 'Times New Roman', Times, serif;
    }
    #zen-intro header{
        background-color: #F2E3D5;
        color: #026773;
    }
    .design-selection {
        position:static ;
        width: 100%;
    }
    .explanation{
        border-right: none;
        width: 100%;
}
}