body{
    margin: auto;
    margin-top: auto;} 
   
    /* 
    Cor-do-texto-color: #026773;
    DESTAQUE-color: #012E40;
    Pagina--color: #F2E3D5;
    */

html{
    background-color: #F2E3D5;
    color:#026773 ;}


